@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

*,
*::before,
*::after {
  /* background-color: rgba(0,0,0,0.5) !important; */
  /* border: 1pt solid rgba(255, 0, 0, 0.5) !important; */
}

@layer base {
  html {
    font-family: 'Roboto', sans-serif;
  }
}

@layer components {
  .primary-btn {
    @apply flex items-center w-fit px-4 py-2 font-medium rounded-md cursor-pointer capitalize border-2 border-collapse  text-white bg-main border-main hover:bg-accent hover:border-accent transition-all;
  }

  .secondary-btn {
    @apply flex items-center w-fit px-4 py-2 font-medium rounded-md cursor-pointer capitalize border-2 border-collapse text-main border-main bg-white  transition-all;
  }

  .trynow-btn {
    @apply flex items-center justify-center w-fit mt-4 px-3 py-2 font-medium capitalize  text-main;
  }

  .privacy-card {
    @apply relative h-full w-[90%]   p-6  flex flex-col items-center justify-center overflow-hidden md:basis-[40%] md:aspect-[1/0.9];

  }
  .privacy-icon {

   @apply  text-blue-400 bg-gradient-to-b from-blue-100/75 to-white border-2 border-blue-400 rounded-xl p-2; 

  }

  .privacy-title {

    @apply  text-gray-700 font-Mont font-semibold text-xl mt-6 lg:drop-shadow-lg lg:text-2xl ;

  }

  .privacy-text {
    @apply text-gray-700 text-base mt-4 text-left lg:drop-shadow-lg lg:text-lg md:max-w-sm ;

  }

}

blockquote::before {
  content: open-quote;
  /* Place it at the top-left */
  top: 0;
  left: 0;
}

blockquote::after {
  content: close-quote;
  /* Place it at thee bottom-right */
  bottom: 0;
  right: 0;
}

blockquote::before,
blockquote::after {
  color: white;
  background-color: #374151;
  display: block;
  width: 30px;
  height: 30px;
  line-height: 48px;
  font-size: 40px;
  border-radius: 100%;
  text-align: center;
  position: absolute;
}

/* ------------------------LOGOS SCROLL-------------------------  */

.main-clipper {

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  overflow: hidden;

  z-index: -1;
}

.main-clipper::after {
  position: absolute;

  content: '';
  width: calc(100% + 8px);
  height: calc(100% + 8px);

  background-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 65%,
    rgba(255, 255, 255, 1) 100%
  );
  top: calc(50% - (100% + 8px) / 2);
  left: calc(50% - (100% + 8px) / 2);

  --standard-box-shadow: rgba(8, 6, 65, 0.15) 0px 5px 15px 0px;
  box-shadow: var(--standard-box-shadow);
}

.scroll-parent-one {
  width: 1638px;
  height: 128px;

  z-index: -2;

  position: relative;
  overflow: hidden;

  margin: var(2rem) 0;
}

.scroll-element-one {
  width: 1638px;
  height: 128px;
  background: url(assets/testimonial_strip1.png);
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;

  opacity: 0.5;
}

.primary-for-one {
  animation: primary 23s linear infinite;
}

@keyframes primary {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

.secondary-for-one {
  animation: secondary 23s linear infinite;
}

@keyframes secondary {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}


.scroll-parent-two {
  height: 128px;
  width: 1638px;

  z-index: -2;

  margin: 0 auto;
  position: relative;
  overflow: hidden;

  margin: 0;

}

.scroll-element-two {
  height: 128px;
  width: 1638px;
  background: url(assets/testimonial_strip2.png);
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;

  opacity: 0.5;





}


.primary-for-two {
  animation: primary 18s linear infinite;
}

@keyframes primary {
  from {
    left: 0%;
  }

  to {
    left: -100%;
  }
}

.secondary-for-two {
  animation: secondary 18s linear infinite;
}


@keyframes secondary {
  from {
    left: 100%;
  }

  to {
    left: 0%;
  }
}
